#message-form {
	max-height: 30vh;
	display: grid;
	grid-template-columns: auto min-content;
	word-wrap: break-word;
	margin: 0.1em;
	overflow-x: auto;
}

#message-textarea {
	box-sizing: border-box;
	overflow-y: auto;
	color: grey;
	word-break: break-all;
	font-size: 1.2em;
	align-self: center;
	border: none;
	resize: none;
	outline: none;
}

#send-button {
	margin-right: 0.5em;
	cursor: pointer;
	word-break: break-all;
	border-radius: 2px;
	height:2em;
	width: 2em;
	align-self: flex-end;
}

#send-button:hover {
	background-color: white;
	color: #34C759;
}