#message-form {
	max-height: 30vh;
	display: grid;
	grid-template-columns: auto min-content;
	box-shadow: 0px 0px 3px 3px #E1D9D1;
	/* https://stackoverflow.com/questions/23991054/does-rem-make-sense-on-border-radius */
	border-radius: 0.3em;
	box-sizing: border-box;
	padding: 0.5em;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 0.5em;
}

#message-textarea {
	box-sizing: border-box;
	overflow-y: hidden;
	color: grey;
	word-break: keep-all;
	font-size: 1.2em;
	align-self: center;
	padding:0;
	border: none;
	resize: none;
	outline: none;
}

#send-button {
	box-sizing: border-box;
	padding: 0.3em;
	margin-right: 0.3em;
	margin-left: 0.3em;
	cursor: pointer;
	border: none;
	height:2em;
	width: 2em;
	align-self: flex-end;
	filter: opacity(50%)
}

#send-button:hover {
	filter: opacity(100%)
}