::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgb(231, 229, 229);
	border-radius: 5px;
	width: 1px;
}

::-webkit-scrollbar-thumb {
	background-color: #d4ccc5;
	border-radius: 5px;
	width: 10px;
}

.MessageSection {
	overflow-y: scroll;
	border: none;
	scrollbar-width: none;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 5vw;
	margin-right: 5vw;
	scrollbar-width: thin;
	box-sizing: border-box;
}

.LoadingIcon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 1.2em;
	width: 1.2em;
	box-sizing: border-box;
}

