#message-section {
	overflow-y: scroll;
	border: none;
	scrollbar-width: none;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 5vw;
	margin-right: 5vw;
	scrollbar-width: thin;
	box-sizing: border-box;
}

#loading-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 1.2em;
	width: 1.2em;
	box-sizing: border-box;
}

